= render 'layout' do
  = render('effective/search/form', search: search)

  - if search.present?
    %hr

    - results = search.results(page: params[:page])
    - search_contents = search.search_contents.select { |resource| search.authorized?(resource) }
    - permalinks = search.permalinks.select { |resource| search.authorized?(resource) }

    - if search_contents.present?
      = render(collection: search_contents, partial: 'effective/search_contents/search_content', locals: { search: search })

    .row
      - if permalinks.present?
        .col-xl-4.col-lg-5
          %h3 Downloads
          %hr.mt-0
          %ul
            - permalinks.each do |permalink|
              %li= link_to(permalink.title, permalink.redirect_path, target: '_blank', title: permalink.title)

      -# Search results
      %div{class: (permalinks.present? ? 'col-xl-8 col-lg-7' : 'col')}
        %h3 Pages
        %hr.mt-0

        - if results.length == 0
          .alert.alert-info There are no results for your search. Please try again.

        - if results.length > 0
          - collection = results.with_pg_search_highlight.select { |result| search.authorized?(result) }
          = render(collection: collection, partial: 'effective/search/result', locals: { search: search })

        %nav.d-flex.justify-content-center
          = bootstrap_paginate(results, per_page: search.per_page)
