- path = (EffectiveResources.authorized?(self, :edit, order) ? effective_orders.admin_edit_order_path(order) : effective_orders.admin_order_path(order))

%a.list-group-item.list-group-item-action{href: path, title: order}
  %strong= order.to_s
  %small.text-muted
    = order.billing_name
    &bull;
    = order.email
    &bull;
    = price_to_currency(order.total)
    &bull;
    = badge(order.status)
