%a.list-group-item.list-group-item-action{href: effective_memberships.edit_admin_organization_path(organization), title: organization}
  %p.mb-0= organization
  %small.text-muted
    - if organization.class.try(:effective_memberships_organization_owner?)
      - if (membership = organization.try(:membership)).present?
        = membership.statuses.to_sentence
        = membership.categories.to_sentence
        member
        - if membership.number.present?
          = ' #' + membership.number
      - elsif organization.membership_removed?
        Removed member
      - else
        Not a member
      &bull;

    = organization.email

    - if (principals = organization.representatives.select { |rep| rep.is_any?(:principal) }).present?
      &bull;
      = principals.to_sentence

    &bull;
    = pluralize(organization.representatives.count, 'representative')
