= render 'admin/search/layout' do

  = effective_form_with(scope: :q, model: search, method: :get, url: effective_search.admin_search_path) do |f|
    = hidden_field_tag :page, (params[:page] || 1)

    .d-flex.align-items-center.mb-3
      .flex-grow-1
        = f.text_field :term, placeholder: 'Search users, companies, applicants, and orders', label: false, autofocus: true, autocomplete: 'off',
          'data-load-ajax-url': effective_search.admin_search_path,
          'data-load-ajax-div': '#effective-search-results',
          'data-load-ajax-all': true,
          wrapper: { class: 'form-group mb-0' }

      - if modal
        %div
          %button.btn.btn-sm.btn-light.ml-3.border{type: 'button', data: { dismiss: 'modal' }, 'aria-label': 'Close'}
            %span{'aria-hidden': 'true'} ESC

    #effective-search-results
      - if search.present?
        - if search.order_results.present?
          %small.font-weight-bold Orders (#{search.orders.count})
          .list-group.list-group-flush= render(collection: search.order_results, partial: 'admin/search/order')
          %hr

        - if search.user_results.present?
          %small.font-weight-bold Users (#{search.users.count})
          .list-group.list-group-flush= render(collection: search.user_results, partial: 'admin/search/user')
          %hr

        - if search.organization_results.present?
          %small.font-weight-bold #{ets(search.organizations)} (#{search.organizations.count})
          .list-group.list-group-flush= render(collection: search.organization_results, partial: 'admin/search/organization')
          %hr

        - if search.applicant_results.present?
          %small.font-weight-bold Applicants (#{search.applicants.count})
          .list-group.list-group-flush= render(collection: search.applicant_results, partial: 'admin/search/applicant')
