= effective_form_with(scope: :q, model: search, method: :get, url: effective_search.admin_search_path) do |f|
  = hidden_field_tag :page, (params[:page] || 1)

  .row
    .col
      = f.search_field :term, placeholder: 'Search', label: false, autofocus: true, autocomplete: 'off',
        'data-load-ajax-url': effective_search.admin_search_path,
        'data-load-ajax-div': '#effective-search-results',
        'data-load-ajax-all': true

    - if modal
      .col-1
        = link_to 'Clear', '#'
      .col-1.text-center
        %button.close{type: 'button', data: { dismiss: 'modal' }, 'aria-label': 'Close'}
          %span{'aria-hidden': 'true'} &times;

  #effective-search-results
    - if search.present?
      - results = search.results(page: params[:page])
      - search_contents = search.search_contents.select { |resource| search.authorized?(resource) }
      - permalinks = search.permalinks.select { |resource| search.authorized?(resource) }

      - if search_contents.present?
        = render(collection: search_contents, partial: 'admin/search_contents/search_content', locals: { search: search })

      .row
        - if permalinks.present?
          .col-xl-4.col-lg-5
            %h3 Downloads
            %hr.mt-0
            %ul
              - permalinks.each do |permalink|
                %li= link_to(permalink.title, permalink.redirect_path, target: '_blank', title: permalink.title)

        -# Search results
        %div{class: (permalinks.present? ? 'col-xl-8 col-lg-7' : 'col')}
          - if results.length == 0
            .alert.alert-info There are no results for your search. Please try again.

          - if results.length > 0
            - collection = results.with_pg_search_highlight.select { |result| search.authorized?(result) }
            = render(collection: collection, partial: 'admin/search/result', locals: { search: search })

          %nav.d-flex.justify-content-center
            = bootstrap_paginate(results, per_page: search.per_page)
