%a.list-group-item.list-group-item-action{href: edit_admin_user_path(user), title: user}
  %strong= user.to_s
  %small.text-muted
    - if user.class.try(:effective_memberships_owner?)
      - if(membership = user.try(:membership) || user.try(:organizations).try(:first).try(:membership)).present?
        = membership.statuses.to_sentence
        = membership.categories.to_sentence
        - if membership.number.present?
          = ' #' + membership.number
      - elsif user.membership_removed?
        Removed member
      - else
        Not a member
      &bull;

    = user.email

    - if user.try(:representatives).present?
      &bull;
      = user.representatives.map(&:organization).to_sentence
